{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum doloremque quod ea dolor consequuntur quia ipsum facere nemo error tempora asperiores dolores dolore iste, laboriosam ducimus facilis cupiditate eligendi, in iure dolorum perferendis. Deleniti, blanditiis odio incidunt minus optio asperiores architecto odit illo vel ab autem sed tenetur labore quasi perferendis minima laborum qui cum totam soluta fugit. Deleniti similique odio, laboriosam quasi reprehenderit consequuntur incidunt optio sed illum nam veniam quidem aut perspiciatis esse est asperiores voluptatibus provident aliquid, voluptatum molestiae rem fugiat ipsam illo hic. Accusantium tempora deleniti nesciunt. Minima laborum tenetur modi atque sed aliquam necessitatibus? Mollitia.</p>

<p>Website created by {{username}}</p>

{% endblock %}



